/* Общие стили */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(https://images5.alphacoders.com/115/1151243.jpg);
    color: #fff;
    line-height: 1;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0);
    
}.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;

}.content {
    position: relative;
    z-index: 1;
    padding: 20px;
    background: rgb(58, 57, 51); 
    border-radius: 10px;
    max-width: 1200px;
    margin: 50px auto;  
    
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Стили для хедера */
header {
    background: url('elden_ring_banner.jpg') no-repeat center center/cover;
    color: #fff;
    text-align: center;
    padding: 60px 0;
}

header h1 {
    margin: 0;
    font-size: 3em;
    text-shadow: 2px 2px 4px #000;
}

nav {
    margin-top: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #f6f7f4;
    text-decoration: none;
    padding: 5px 10px;
    transition: background 0.3s, color 0.3s;
}

nav ul li a:hover {
    background: rgba(143, 119, 11, 0.2);
    border-radius: 5px;
}

/* Стили для секций */
main {
    padding: 20px 0;
}

section {
    margin-bottom: 40px;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    border-bottom: 2px solid #444;
    padding-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #333;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery img {
    width: calc(50% - 10px);
    border-radius: 10px;
    transition: transform 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
}

/* Стили для футера */
footer {
    background: #111;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Анимации */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

body, header, main, footer {
    animation: fadeIn 2s;
}
